.control-dots{
    bottom: 80px !important;
}

@media only screen and (max-width: 767px) {
    .control-dots {
        bottom: 10px !important;
    }
}
.carousel .control-dots .dot{
    background-color: #FFFFFF !important;
    opacity: 1 !important;
    box-shadow: none !important;
    width: 12px !important;
    height: 12px !important;
}

.carousel .control-dots .dot:hover{
    opacity: 0.8 !important;
}

.carousel .control-dots .dot.selected{
    background-color: #51c2b9 !important;

}
.carousel.carousel-slider{
    overflow: inherit !important;
}

.markdown p {

    @apply font-montserrat font-extralight tracking-wider text-sm text-center md:text-left py-2 ;

}
