.control-dots{
    bottom: 80px !important;
}

@media only screen and (max-width: 767px) {
    .control-dots {
        bottom: 10px !important;
    }
}
.carousel .control-dots .dot{
    /* background-color: #FFFFFF !important; */
    box-shadow: none;
    width: 10px;
    height: 10px;
}
.carousel.carousel-slider{
    overflow: inherit !important;
}

.markdown p {

    @apply font-montserrat font-extralight tracking-wider text-sm text-center md:text-left py-2 ;

}