---
// IMPORTING ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTING ASTRO COMPONENTS
import Header from "../components/header/Header.astro"
import JewelOfTheOceans from "../components/home/JewelOfTheOceans.astro"
import Accommodation from "../components/home/Accommodation.astro"

// IMPORTING JSX COMPONENTS
import HeroCarousel from "../components/home/HeroCarousel"
---
<Layout
	title="Kihaa Maldives Resort - Luxury 5 Star Maldives Resort in Baa Atoll"
	description="Kihaa Resort is the most naturally beautiful and romantic island in Maldives, located next to the world famous UNESCO Biosphere Hanifaru Bay"
	image=""
>
	<section class="md:h-screen md:max-h-screen overflow-hidden">
		<Header />
		<HeroCarousel client:load />
	</section>
	<JewelOfTheOceans />
	<Accommodation />
</Layout>
