---
import { homeAPI } from "../api/home/index"

const runtime = Astro.locals.runtime;
const data = await homeAPI( runtime.env.ENVIRONMENT )

const { home_data, accommodations, experiences, meta_tags } = data

// IMPORTS ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORTS ASTRO COMPONENTS
import Header from "../components/header/Header.astro"
import JewelOfTheOceans from "../components/home/JewelOfTheOceans.astro"
import UnescoBiosphereReserve from "../components/home/UnescoBiosphereReserve.astro"
import Accommodation from "../components/home/Accommodation.astro"
import Experiences from "../components/home/Experiences.astro"
import InstagramFeed from "../components/home/InstagramFeed.astro"
import Footer from "../components/footer/Footer.astro"
import MakeReservation from "../components/home/MakeReservation.astro"
import ImageBanner from "../components/home/ImageBanner.astro"

// IMPORTS JSX COMPONENTS
import HeroCarousel from "../components/home/HeroCarousel"
import HeaderBanner from "../components/common/HeaderBanner.astro"
---
<Layout
	title={ meta_tags.title }
	description={ meta_tags.description }
	image={ meta_tags.cover }
>
	<section class="md:h-screen 2xl:h-[720px] md:max-h-screen overflow-hidden relative">
		<HeaderBanner />
		<Header />
		<HeroCarousel
			client:load
			data={ home_data.hero }
		/>
	</section>
	<JewelOfTheOceans
		jewel_of_the_oceans={ home_data.jewel_of_the_oceans }
		award_winning_resort={ home_data.award_winning_resort }
	/>
	<UnescoBiosphereReserve data={ home_data.unspoilt } />
	<Accommodation
		data={ home_data.accommodation }
		carousel={ accommodations }
	/>
	<ImageBanner
		src={ home_data.image_banner_one.cover }
	/>
	<Experiences
		experience={ home_data.experiences }
		data={ experiences }
	/>
	<ImageBanner
		src={ home_data.image_banner_two.cover }
	/>
	<InstagramFeed data={ home_data.instagram_feed } />
	<MakeReservation data={ home_data.make_reservation }  />
	<Footer />
</Layout>
