---
// IMPORTS ASTRO ATOMS
import HeadingTwo from "../../atoms/headings/Two.astro"
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"
import Button from "../../atoms/buttons/Vanilla.astro"

// IMPORTS JSX COMPONENTS
import AccommodationCarousel from "./AccommodationCarousel"
import AccommodationImages from "./AccommodationImages"

const { data, carousel } = Astro.props
---
<section class="bg-gray-50">
    <section class="grid md:grid-cols-2">
        <section class="flex flex-col gap-4 items-center justify-center p-8 md:p-20">
            <div>
                <HeadingTwo>{ data.title }</HeadingTwo>
                <HeadingThree>{ data.sub_title }</HeadingThree>
            </div>
            <SmallParagraph>{ data.description }</SmallParagraph>
            <Button>{ data.button_text }</Button>
        </section>
        <AccommodationCarousel
            client:load
            data={ carousel }
        />
    </section>
    <AccommodationImages
        client:load
        data={ data.images }
    />
</section>