---
// IMPORTING ASTRO ATOMS
import HeadingTwo from "../../atoms/headings/Two.astro"
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"
import Button from "../../atoms/buttons/Vanilla.astro"

// IMPORTING JSX COMPONENTS
import AccommodationCarousel from "./AccommodationCarousel"

const data = Array(5).fill({

    image: "hero-carousel-image-1.jpg"

})
---
<section class="bg-gray-50">
    <section class="grid md:grid-cols-2">
        <section class="flex flex-col gap-4 items-center p-8 md:p-20">
            <div>
                <HeadingTwo>Accommodation</HeadingTwo>
                <HeadingThree>Fantastic range of villas</HeadingThree>
            </div>
            <SmallParagraph>Offering a fantastic range of luxury villas, Kihaa’s villas and suites provide a home away from home. With state of the art amenities and beautiful finishes that blend into the natural paradise environment of the island.</SmallParagraph>
            <Button>Discover More</Button>
        </section>
        <AccommodationCarousel client:load />
    </section>
    <section class="grid grid-cols-5 gap-[1px] py-[1px]">
        {

            data.map( ( value ) => {

                return(
                    <div class="w-full aspect-[4/3] bg-zinc-200 overflow-hidden">
                        <img
                            src={ value.image }
                            alt=""
                            class="w-full h-full object-cover hover:scale-110 overflow-hidden transition-all duration-700"
                        />
                    </div>
                )

            })

        }
    </section>
</section>