---
// IMPORTING ASTRO ATOMS
import HeadingTwo from "../../atoms/headings/Two.astro"
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"
import Button from "../../atoms/buttons/Vanilla.astro"

// IMPORTING JSX COMPONENTS
import AccommodationCarousel from "./AccommodationCarousel"
import AccommodationImages from "./AccommodationImages"

const data = Array(5).fill({

    image: "hero-carousel-image-1.jpg"

})
---
<section class="bg-gray-50">
    <section class="grid md:grid-cols-2">
        <section class="flex flex-col gap-4 items-center justify-center p-8 md:p-20">
            <div>
                <HeadingTwo>Accommodation</HeadingTwo>
                <HeadingThree>Fantastic range of villas</HeadingThree>
            </div>
            <SmallParagraph>Offering a fantastic range of luxury villas, Kihaa’s villas and suites provide a home away from home. With state of the art amenities and beautiful finishes that blend into the natural paradise environment of the island.</SmallParagraph>
            <Button>Discover More</Button>
        </section>
        <AccommodationCarousel client:load />
    </section>
    <AccommodationImages
        client:load
        data={ data }
    />
</section>