---
// IMPORTING ASTRO ATOMS
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"

// IMPORTING ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTING ASTRO COMPONENTS
import ExperienceCard from "./ExperienceCard.astro"

const data = Array(9).fill({

    cover: "/fixed-image-1.jpg",
    title: "Excursions",
    button_text: "Read more"

})
---
<Container>
    <section class="space-y-10 py-10">
        <section class="space-y-2">
            <HeadingThree>Experiences at Kihaa</HeadingThree>
            <div class="max-w-6xl mx-auto">
                <SmallParagraph>Make your stay on Kihaa one full of experiences and adventures that will provide memories to last a lifetime. From exploring beneath the waves on the amazing coral reefs with Ocean dimensions dive school, to relaxing in the award-winning Kihaa Spa every moment at Kihaa is one that you will want to last a lifetime.</SmallParagraph>
            </div>
        </section>
        <section class="grid grid-cols-3 gap-6">
            {

                data.map( ( value ) => {

                    return(
                        <ExperienceCard
                            src={ value.cover }
                            title={ value.title }
                            button_text={ value.button_text }
                        />
                    )

                })

            }
        </section>
    </section>
</Container>
