---
// IMPORTING ASTRO ATOMS
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"

// IMPORTING ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTING ASTRO COMPONENTS
import ExperienceCard from "./ExperienceCard.astro"

const data = Array(9).fill({

    cover: "/fixed-image-1.jpg",
    title: "Excursions",
    button_text: "Read more"

})
---
<Container>
    <section class="space-y-10 py-4 md:py-10">
        <section class="space-y-2">
            <HeadingThree>Experiences at Kihaa</HeadingThree>
            <div class="max-w-6xl mx-auto">
                <SmallParagraph>Make your stay on Kihaa one full of experiences and adventures that will provide memories to last a lifetime. From exploring beneath the waves on the amazing coral reefs with Ocean dimensions dive school, to relaxing in the award-winning Kihaa Spa every moment at Kihaa is one that you will want to last a lifetime.</SmallParagraph>
            </div>
        </section>
        <section class="mt-10 gap-4 grid grid-flow-row-dense grid-cols-3 grid-rows-3">
            <div class="w-full bg-zinc-200 col-span-1 aspect-square overflow-hidden">
                <ExperienceCard
                    src={ data[0].cover }
                    title={ data[0].title }
                    button_text={ data[0].button_text }
                />
            </div>
            <div class="col-span-1 w-full bg-zinc-200 aspect-square">02</div>
            <div class="col-span-1 w-full bg-zinc-200 row-span-2">03</div>
            <div class="row-span-2 col-span-1 bg-zinc-200">04</div>
            <div class="col-span-1 w-full bg-zinc-200 aspect-square">05</div>
            <div class="col-span-2 row-span-1 w-full bg-zinc-200">06</div>
        </section>
    </section>
</Container>
