---
// IMPORTS ASTRO ATOMS
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import ExperienceCard from "./ExperienceCard.astro"

const { data, experience } = Astro.props
---
<Container>
    <section class="space-y-10 py-4 md:py-10">
        <section class="space-y-2">
            <HeadingThree>{ experience.title }</HeadingThree>
            <div class="max-w-6xl mx-auto">
                <SmallParagraph>{ experience.description }</SmallParagraph>
            </div>
        </section>
        <section class="mt-10 gap-4 grid md:grid-flow-row-dense md:grid-cols-3 md:grid-rows-3">
            <div class="w-full bg-zinc-200 col-span-1 aspect-[4/3] overflow-hidden">
                <ExperienceCard
                    src={ data[0].cover }
                    title={ data[0].name }
                    button_text={ data[0].button_text }
                />
            </div>
            <div class="md:col-span-1 w-full bg-zinc-200 aspect-[4/3]">
                <ExperienceCard
                    src={ data[1].cover }
                    title={ data[1].name }
                    button_text={ data[1].button_text }
                />
            </div>
            <div class="md:col-span-1 w-full aspect-[4/3] md:aspect-auto bg-zinc-200 md:row-span-2">
                <ExperienceCard
                    src={ data[2].cover }
                    title={ data[2].name }
                    button_text={ data[2].button_text }
                />
            </div>
            <div class="md:row-span-2 md:col-span-1 w-full aspect-[4/3] md:aspect-auto bg-zinc-200">
                <ExperienceCard
                    src={ data[3].cover }
                    title={ data[3].name }
                    button_text={ data[3].button_text }
                />
            </div>
            <div class="md:col-span-1 w-full bg-zinc-200 aspect-[4/3]">
                <ExperienceCard
                    src={ data[4].cover }
                    title={ data[4].name }
                    button_text={ data[4].button_text }
                />
            </div>
            <div class="md:col-span-2 md:row-span-1 w-full aspect-[4/3] md:aspect-auto bg-zinc-200"><ExperienceCard
                src={ data[5].cover }
                title={ data[5].name }
                button_text={ data[5].button_text }
            /></div>
        </section>
    </section>
</Container>
