---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/cdn"

const { src } = Astro.props
---
<section
    class="hidden md:block h-72 md:h-[600px] 2xl:h-[720px] bg-fixed 2xl:bg-scroll bg-cover bg-center bg-zinc-200 bg-no-repeat"
    style=`background-image: url(${ CDN_LINK + src + "?quality=" + IMAGE_QUALITY })`
>
</section>
