---
// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/cdn"

const { src } = Astro.props
---
<section
    class="h-72 md:h-[600px] bg-fixed bg-zinc-200 bg-no-repeat"
    style=`background-image: url(${ CDN_LINK + src + "?quality=" + IMAGE_QUALITY })`
>
</section>
