---
// IMPORTING ASTRO ATOMS
import HeadingTwo from "../../atoms/headings/Two.astro"
import HeadingThree from "../../atoms/headings/Three.astro"
import Paragraph from "../../atoms/paragraph/Vanilla.astro"
---
<section class="space-y-2 py-10">
    <HeadingTwo>#kihaamaldives</HeadingTwo>
    <HeadingThree>Sharing your moments of paradise</HeadingThree>
    <Paragraph>Keep up to date with the beautiful paradise island of Kihaa Maldives.</Paragraph>
</section>
