---
// IMPORTS ASTRO ATOMS
import HeadingTwo from "../../atoms/headings/Two.astro"
import HeadingThree from "../../atoms/headings/Three.astro"
import SmallParagraph from "../../atoms/paragraph/Small.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/cdn"

const { data } = Astro.props

const images = data.images.sort( ( a,b ) => a.order - b.order )
---
<section class="space-y-2 py-10 px-4 md:px-0">
    <HeadingTwo>{ data.title }</HeadingTwo>
    <HeadingThree>{ data.sub_title }</HeadingThree>
    <SmallParagraph>{ data.description }</SmallParagraph>
    <p class="text-xs font-montserrat font-extralight text-center tracking-wider">[* These images will be replaced by instagram feed *]</p>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-1 pt-4">
        {

            images.map( ( value ) => {

                return(
                    <div class="w-full aspect-square bg-zinc-200 overflow-hidden">
                        <img
                            src={ CDN_LINK + value.file + "?quality=" + IMAGE_QUALITY }
                            alt=""
                            class="w-full h-full object-cover hover:scale-125 overflow-hidden transition-all duration-700"
                        />
                    </div>
                )

            })

        }
    </div>
</section>
