---
// IMPORTS ASTRO ATOMS
import HeadingOne from "../../atoms/headings/One.astro"
import HeadingTwo from "../../atoms/headings/Two.astro"
import HeadingThree from "../../atoms/headings/Three.astro"
import Paragraph from "../../atoms/paragraph/Vanilla.astro"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "../../constants/cdn"

const { jewel_of_the_oceans, award_winning_resort } = Astro.props

const award_images = award_winning_resort.images.sort( (a,b) => a.order - b.order )
---
<Container>
    <section class="flex flex-col gap-8 md:gap-10 items-center py-8 md:py-20 md:max-w-6xl mx-auto">
        <div class="flex flex-col gap-4 md:gap-6 items-center">
            <div>
                <HeadingTwo>{ jewel_of_the_oceans.title }</HeadingTwo>
                <HeadingOne>{ jewel_of_the_oceans.sub_title }</HeadingOne>
            </div>
            <Paragraph>{ jewel_of_the_oceans.description }</Paragraph>
        </div>
        <div>
            <HeadingThree>{ award_winning_resort.title }</HeadingThree>
            <Paragraph>{ award_winning_resort.description }</Paragraph>
            <div class="flex justify-center items-center gap-4 pt-6">
                {

                    award_images.map( ( value ) => {

                        return(
                            <div class="h-24 md:h-28 w-full">
                                <img
                                    src={ CDN_LINK + value.file + "?quality=" + IMAGE_QUALITY }
                                    alt=""
                                    class="h-24 md:h-28 w-full object-contain"
                                />
                            </div>
                        )

                    })

                }
            </div>
        </div>
    </section>
</Container>
