---
// IMPORTING JSX COMPONENTS
import Reservation from "./Reservation"
---
<section>
    <div class="w-full h-96">
        <img
            src="/fixed-image-2.jpg"
            alt=""
            class="w-full h-full object-cover"
        />
    </div>
    <Reservation client:load />
</section>
