---
import { marked } from "marked"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS CONSTANTS
import { CDN_LINK, IMAGE_QUALITY } from "@/constants/cdn"

const { data } = Astro.props

const map_image = data.images.sort(( a,b ) => a.order - b.order )

const html = marked.parse( data.description )
---
<section class="md:h-screen flex justify-center items-center w-full relative bg-no-repeat" style=`background-image: url(${ CDN_LINK + data.cover + "?quality=" + IMAGE_QUALITY })`>
    <Container>
        <section class="grid md:grid-cols-3 gap-4 z-10">
            <section class="hidden md:block">
                <div class="h-96 w-full relative">
                    <img
                        src={ CDN_LINK + map_image[0].file + "?quality=" + IMAGE_QUALITY }
                        alt=""
                        class="w-full h-full object-contain"
                    />
                    <div class="size-6 bg-kmr_green rounded-full absolute left-[46.5%] top-[21%] animate-ping duration-3000"></div>
                    <div class="size-6 bg-kmr_green rounded-full absolute left-[51.5%] top-[34.3%] animate-ping duration-3000"></div>
                    <div class="absolute left-[12.5%] top-[21%] font-montserrat font-extralight tracking-wider text-xs bg-white px-2 py-1 rounded">Kihaa Maldives</div>
                    <div class="absolute right-[14.5%] top-[33.4%] font-montserrat font-extralight tracking-wider text-xs bg-white px-2 py-1 rounded">Velana Airport</div>
                </div>
            </section>
            <section class="md:col-span-2 flex flex-col justify-center space-y-4">
                <div class="border-b pb-2 border-gray-400">
                    <h2 class="text-kmr_green uppercase text-3xl font-josefin text-center md:text-left">{ data.title }</h2>
                </div>
                <section set:html={ html } class="markdown" />
            </section>
            <section class="md:hidden">
                <div class="h-80 w-full">
                    <img
                        src={ CDN_LINK + map_image[0].file + "?quality=" + IMAGE_QUALITY }
                        alt=""
                        class="w-full h-full object-contain"
                    />
                </div>
            </section>
        </section>
    </Container>
    <section class="h-full w-full bg-white/80 absolute top-0" style=`background-image: url(${ "/images/wool-diagonal-for-light-background.png" })` >

    </section>
</section>
