---
const { href } = Astro.props
---
<li class="text-kmr_green hover:text-black text-sm tracking-wider uppercase hover:cursor-pointer font-montserrat">
    <a href={ href }>
        <slot/>
    </a>
</li>
