---
const runtime = Astro.locals.runtime
const env = runtime.env.ENVIRONMENT

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import HeaderItem from "./HeaderItem.astro"

// IMPORTS JSX COMPONENTS
import HeaderMobile from "./HeaderMobile"

// IMPORTS ASTRO ATOMS
import YellowButton from "../../atoms/buttons/Yellow.astro"
---
<header class={` ${ env === "staging" ? "mt-8" : "" } hidden bg-white h-16 md:flex items-center fixed top-0 w-full z-50 border-b border-zinc-200`}>
    <Container>
        <nav class="h-full flex justify-between items-center">
            <a href="/">
                <div class="w-32 aspect-[3/1]">
                    <img
                        src="/logo/kmr_logo.png"
                        alt=""
                        class="w-full h-full"
                    />
                </div>
            </a>
            <ul class="flex gap-8 items-center">
                <HeaderItem href="/accommodation">Classic</HeaderItem>
                <HeaderItem href="/luxury-collection/">Luxury</HeaderItem>
                <HeaderItem href="/hanifaru-bay">Hanifaru Bay</HeaderItem>
                <HeaderItem href="/wine-and-dine">Taste of culture</HeaderItem>
                <HeaderItem href="/horse-riding">Horses in Maldives</HeaderItem>
                <HeaderItem href="/about">More</HeaderItem>
            </ul>
            <YellowButton href="https://www.simplebooking.it/ibe/hotelbooking/search?hid=4234&lang=en" target={ true }>Book Now</YellowButton>
        </nav>
    </Container>
</header>
<HeaderMobile client:load />
