---
// IMPORTING ASTRO COMPONENTS
import AwardImage from "./AwardImage.astro"
import FooterTitle from "./FooterTitle.astro"
---
<section class="space-y-4">
    <FooterTitle>Awards</FooterTitle>
    <AwardImage />
</section>
