---
// IMPORTING ASTRO COMPONENTS
import AwardImage from "./AwardImage.astro"
---
<div class="flex gap-6 items-center">
    <AwardImage
        src="/images/award-1.png"
        alt=""
    />
    <AwardImage
        src="/images/award-2.png"
        alt=""
    />
    <AwardImage
        src="/images/award-3.png"
        alt=""
    />
</div>
