---
// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"
---
<section class="bg-zinc-800 py-4">
    <Container>
        <p class="text-white uppercase text-xs text-center font-montserrat tracking-wider">&copy; Copyright { new Date().getFullYear() } - Kihaa Maldives Resort & Spa by Coral Island Resorts</p>
    </Container>
</section>
