<div class="grid grid-cols-2 gap-2">
    <a href="https://apps.apple.com/us/app/kihaa-maldives/id1570814090" target="_blank">
        <div class="w-full h-10">
            <img
                src="/images/app-store.jpg"
                alt=""
                class="w-full h-full"
            />
        </div>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.kihaamaldives.hotelapp" target="_blank">
        <div class="w-full h-10">
            <img
                src="/images/google-store.jpg"
                alt=""
                class="w-full h-full"
            />
        </div>
    </a>
</div>
