---
const { href } = Astro.props
---
<li class="text-white font-montserrat tracking-wider text-sm hover:cursor-pointer uppercase hover:text-black transition-all duration-500">
    <a href={ href }>
        <slot/>
    </a>
</li>
