<div class="flex justify-center md:justify-start">
    <a href="/">
        <div class="w-52 aspect-[3/1]">
            <img
                src="/logo/kmr_logo.png"
                alt="logo"
                class="w-full h-full"
            />
        </div>
    </a>
</div>
