---
// IMPORTS ASTRO COMPONENTS
import DownloadApp from "./DownloadApp.astro"
import FooterItem from "./FooterItem.astro"
import FooterTitle from "./FooterTitle.astro"
---
<section class="space-y-2">
    <FooterTitle>Kihaa App</FooterTitle>
    <ul>
        <FooterItem>Download Kihaa app for your mobile.</FooterItem>
    </ul>
    <DownloadApp />
</section>
