---
// IMPORTING ASTRO COMPONENTS
import FooterItemUppercase from "./FooterItemUppercase.astro"
import FooterTitle from "./FooterTitle.astro"
---
<section class="space-y-4">
    <FooterTitle>Quick Links</FooterTitle>
    <ul class="space-y-1">
        <FooterItemUppercase>Wine and Dine</FooterItemUppercase>
        <FooterItemUppercase>Experiences</FooterItemUppercase>
        <FooterItemUppercase>Media</FooterItemUppercase>
        <FooterItemUppercase>Contact Us</FooterItemUppercase>
        <FooterItemUppercase>Privacy Policy</FooterItemUppercase>
    </ul>
</section>
