---
// IMPORTING ASTRO COMPONENTS
import FooterTitle from "./FooterTitle.astro"
import FooterItem from "./FooterItem.astro"
---
<div class="space-y-4">
    <FooterTitle>Reservations</FooterTitle>
    <ul class="space-y-1">
        <FooterItem href="tel:+9607909181">+960 790 9181</FooterItem>
        <FooterItem href="mailto:kihaamaldives@coralislandresorts.com">kihaamaldives@coralislandresorts.com</FooterItem>
        <FooterItem>Online Booking</FooterItem>
    </ul>
</div>
