---
const {

    href,
    src,
    alt

} = Astro.props
---
<a href={ href } target="_blank">
    <div class="bg-white p-2 rounded-full">
        <div class="size-5">
            <img
                src={ src }
                alt={ alt }
                class="size-5"
            />
        </div>
    </div>
</a>
