---
// IMPORTS ASTRO COMPONENTS
import SocialIconItem from "./SocialIconItem.astro"
---
<section class="flex gap-4 items-center justify-center md:justify-start">
    <SocialIconItem
        href="https://www.facebook.com/KihaaMaldives/"
        src="/icons/facebook.svg"
        alt=""
    />
    <SocialIconItem
        href="https://twitter.com/kihaamaldives"
        src="/icons/x.svg"
        alt=""
    />
    <SocialIconItem
        href="https://www.instagram.com/kihaa.maldives/"
        src="/icons/instagram.svg"
        alt=""
    />
</section>
